@media screen and (max-width: 768px) {
  #banner-container {
    font-size: 24px;
  }
  #banner-container img {
    width: 100%;
  }
  
  #banner-container {
    padding: 0px 0px 32px;
    flex-direction: column;
  }

  #banner-container #banner-text {
    max-width: unset;
    margin-left: 0px;
    padding: 32px 16px 0px;
  }

  #banner-container #banner-text h1 {
    margin-top: 0px;
  }

  #banner-container #banner-text button {
    background-color: #9a9a9a;
    font-size: 24px;
  }
}